<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <ul *ngFor="let view of views">
      <a md-list-item [routerLink]="[view.href]" (click)='sidenav.close()'>
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
      </ul>
    </md-nav-list>
  </md-sidenav>
  <header>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <span>el Refugio de Leo</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Social Icons</span>
  </md-toolbar>
  </header>
  <div class="banner">
    <a routerLink="/">
   <img class="banner-img" src="./assets/images/banner.jpg"/>
    </a>
  </div>
  
  <router-outlet></router-outlet>
  <footer class="footer">
    
  </footer>
</md-sidenav-container>
