<div class="container">
    <h2>{{ 'HELPUS.TITLE' | translate }}</h2>
    <h3>{{ 'HELPUS.DONATE.TITLE' | translate }}</h3>
    <p>{{ 'HELPUS.DONATE.MESSAGE' | translate }}</p>
    <h3>{{ 'HELPUS.TEAMING.TITLE' | translate }}</h3>
    <a href="https://www.teaming.net/apaelrefugiodeleo" target="_blank">{{ 'HELPUS.TEAMING.MESSAGE' | translate }}</a>
    <h3>{{ 'HELPUS.RECYCLE.TITLE' | translate }}</h3>
    <p>{{ 'HELPUS.RECYCLE.MESSAGE' | translate }}</p>
    <h3>{{ 'HELPUS.SHELTER.TITLE' | translate }}</h3>
    <p>{{ 'HELPUS.SHELTER.MESSAGE' | translate }} 
        <a routerLink='/contacto'>{{ 'HELPUS.SHELTER.LINK' | translate }}</a>
    </p>
    <h3>{{ 'HELPUS.ADOPT.TITLE' | translate }}</h3>
    <p>{{ 'HELPUS.ADOPT.MESSAGE' | translate }}</p>
</div>