<div class="container">
    <h2>Colabora</h2>
    <h3>Haz un Donativo</h3>
    <p>Puedes hacer un donativo en:</p>
    <h3>Hazte miembro de nuestro grupo de Teaming</h3>
    <a href="https://www.teaming.net/apaelrefugiodeleo" target="_blank">Teaming de el Refugio de Leo</a>
    <h3>Trae lo que no uses</h3>
    <p>Mantas, toallas, cojines, colchones, cualquier cosa de este tipo nos puede venir muy bien :)</p>
    <h3>Hazte casa de acogida</h3>
    <p>Acoge en casa un peludito mientras le encontramos familia, será mucho más feliz y su adaptación a la nueva familia será mucho mas rápida. <a routerLink="/contacto">Contacta con nosotros!</a></p>
    <h3>Adopta!</h3>
    <p>Es la mejor manera de ayudarnos... encontrar una familia para nuestros peludos.</p>
</div>