
.banner {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.banner-img {
  width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}