.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px auto 0;
    justify-content: center;
}

md-card {
  width: 350px;
  box-sizing: border-box;
  margin: 16px;
}