<div class="card-container">
<md-card *ngIf="dog">
      <md-card-title>{{pageTitle}}</md-card-title>
      <md-card-content>
        <div fxFlex *ngIf="dog">
        </div>
         <p *ngIf="dog">{{dog.description}}</p>
         <p *ngIf="dog"><strong>Name: </strong>{{dog.name}}</p>
         <p *ngIf="dog"><strong>Sexo: </strong>{{dog.gender}}</p>
         <p *ngIf="dog"><strong>Tamaño: </strong>{{dog.size}}</p>
         <p *ngIf="dog"><strong>Edad: </strong>{{dog.age}}</p>
      </md-card-content>
    </md-card>
    <md-card class="card-carousel" *ngIf="dog">
      <carousel *ngIf="dog">
      <slide *ngFor="let mypicture of dog.slides">
        <img src="{{mypicture}}">
      </slide>
</carousel>
    </md-card>
</div>
