<div class="container">
<h2>Perros en adopción</h2>
</div>
<div class="card-container">
    <md-card *ngFor="let dog of dogs">
      <md-card-title>{{dog.name}}</md-card-title>
      <div class="md-card-image">
      <img md-card-image [alt]="dog.name" src="./assets/images/dogs/{{dog.image}}/{{dog.slides[0]}}.jpg">
      </div>
      <div class="md-card-description">
      <md-card-content>
          {{dog.description}}
      </md-card-content>
      </div>
      <md-card-actions align="end">
        <a [routerLink]="['/dog', dog.name]">
        <button md-raised-button color="primary">Adoptar</button>
        </a>
      </md-card-actions>
    </md-card>
  </div>