<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <md-card  *ngIf="dog" fxFlex="30">
      <h3>{{pageTitle}}</h3>
        <p>{{dog.description}}</p>
        <p><strong>{{ 'DOGS.DETAILS.NAME' | translate}}</strong>{{dog.name}}</p>
        <p><strong>{{ 'DOGS.DETAILS.GENDER' | translate}}</strong>{{dog.gender}}</p>
        <p><strong>{{ 'DOGS.DETAILS.SIZE' | translate}}</strong>{{dog.size}}</p>
        <p><strong>{{ 'DOGS.DETAILS.AGE' | translate}}</strong>{{dog.age}}</p>
         <!--<a [routerLink]="['/contacto', dog.name]">-->
         <a (click)="contactFormByDog()">
        <button md-raised-button class="adopta" color="primary">{{ 'DOGS.DETAILS.BUTTON' | translate}}</button>
        </a>
      <div class="logo-container" fxShow.gt-sm fxShow="false">
                <img src="./assets/images/logo.png" class="logo">
            </div>
    </md-card>

    <md-card *ngIf="dog" fxFlex="60">
      <carousel>
          <slide *ngFor="let slide of dog.slides">
            <img src="./assets/images/dogs/{{dog.image}}/{{slide}}.jpg">
          </slide>
        </carousel>
    </md-card>
  </div>
</div>