.md-primary {
    background: #009688;
    color: white;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

.form md-card {
  flex-grow: 1;
}

md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}
